<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Homebrew Blog</title>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>

   <div class="base-topbar">
      <p><b>Welcome, {{welcome_name}}!</b></p>
   </div>

   <div class="base-navbar">
      <div class="base-brand">
            <a href="/"><h2>Homebrew Blog</h2></a>
      </div>

      <ul id='base-nav' class='nav nav-pills nav-stacked'>
         <li><a href="/" class="active">Home</a></li>
         <li><a href="/blog" class="">Blog</a></li>
         <li><a href="/blog/myblog" class="">My Blogs</a></li>
         <li><a href="/blog/newpost" class="">New Post</a></li>
      </ul>

      <ul class='base-nav-bot nav nav-pills nav-stacked'>
         {% block nav %}
         {% endblock %}
      </ul>

   </div>

   <div class="base-content">
      <div id="content">
         {% block body %}
         {% endblock %}
      </div>
   </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/blog.js"></script>

</body>
</html>