{% extends "base.html" %}

{% block body %}
<h2>Log In</h2>
<form method="post">
   <table>
      <tr>
         <td class="label">
            Username
         </td>
         <td>
            <input type="text" name="username" value="">
         </td>
      </tr>

      <tr>
         <td class="label">
            Password
         </td>
         <td>
            <input type="password" name="password" value="">
         </td>
      </tr>
   </table>

   <div class="error">
      {{error_msg}}
   </div>

   <input type="submit">
</form>
{% endblock %}