{% extends "/logged-out/base-out.html" %}

{% block body %}
<div class="mainpage-content">

   <div class="container">
      <div class="row mainpage-title">
         <div class="col-md-9 col-lg-7 text-center">
            <h1>Welcome to Homebrew Blog!</h1>
         </div>
      </div>

      <div class="row mainpage-btn-group">
         <div class="col-md-9 col-lg-7 text-center">
            <form action="/signup">
               <button type='submit' class="btn btn-default btn-lg manipage-btn">Sign Up</button>
            </form>
         </div>
      </div>

      <div class="row mainpage-btn-group">
         <div class="col-md-9 col-lg-7 text-center">
            <form action="/login">
               <button type='submit' class="btn btn-default btn-lg manipage-btn">Login</button>
            </form>
         </div>
      </div>

      <div class="row mainpage-btn-group">
         <div class="col-md-9 col-lg-7 text-center">
            <form action="/blog">
               <button type='submit' class="btn btn-default btn-lg manipage-btn">Take a Tour</button>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}