body {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   width: 1000px;
   margin-left: 5%;
   margin-right: 15%;
   padding: 10px;
   color: #333;
   background-image: url(http://1.bp.blogspot.com/-aLz66ej-zdQ/UVmu0WOQaiI/AAAAAAAAFIM/hLG0Y9cf43c/s1600/wet-graph-paper-seamless-background.jpg);
}

h2 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}

h4 {
   font-size: 16px;
   font-weight: bold;
}

.error {
   color: red;
}

.base-topbar {
   position: fixed;
   padding-top: 10px;
   font-size: 22px;
   width: 1000px;
   text-align: right;
   padding-right: 20px;
   border-bottom-style: solid;
   border-bottom-color: black;
}

.base-navbar {
   padding: 10px;
   width: 220px;
   height: 100%;
   position: fixed;
   border-right-style: solid;
   border-right-color: black;
}

.base-brand h2 {
   margin: 5px 0 35px 0;
   width: 200px;
   text-decoration: none;
   color: black;
   font-size: 25px;
}

.base-navbar a {
   font-size: 20px;
}

.base-navbar a.active {
   background-image: url(http://cdn.osxdaily.com/wp-content/uploads/2011/10/NSLinenBackgroundPattern.png);
}

.base-navbar a:hover {
   background-image: url(http://cdn.osxdaily.com/wp-content/uploads/2011/10/NSLinenBackgroundPattern.png);
}

.base-nav-bot {
   position: fixed;
   width: 200px;
   bottom: 20px;
}

.base-content {
   margin-top: 80px;
   margin-left: 240px;
   width: 760px;
}




label {
   display: block;
   font-size: 20px;
}

label + label {
   margin-top: 20px;
}

input[type=text],
input[type=password] {
   width: 260px;
   font-size: 20px;
   padding: 2px;
   font-family: monospace;
}

textarea {
   width: 500px;
   height: 400px;
   font-size: 17px;
   font-family: monospace;
}

input[type=submit] {
   font-size: 24px;
}




/***********  Mainpage section  ***********/

.mainpage-content {
   height: 600px;
   margin: 0 auto;
   /*background-image: url(https://3.bp.blogspot.com/-k8W7UwkacXw/U-J-qTkel1I/AAAAAAAAGdE/T-69E0WNcJk/s1600/repeating-vintage-paper-background.jpg);*/
}


.manipage-btn {
   width: 200px;
   height: 60px;
}

.mainpage-title {
   margin-top: 50px;
   margin-bottom: 120px;
}

.mainpage-btn-group + .mainpage-btn-group {
   margin-top: 20px;
}


/***********  Signup section  ***********/

.signup-content {
   margin-left: -120px;
   margin-top: 130px;
}

.signup-content input[type=text],
.signup-content input[type=password] {
   width: 400px;
   font-size: 20px;
   padding: 2px;
   font-family: monospace;
}

.signup-input {
   padding-top: 12px;
}

.signup-error {
   padding-top: 20px;
}

.signup-submit {
   margin-top: 40px;
}


/***********  Login section  ***********/

.login-content {
   margin-left: -120px;
   margin-top: 130px;
}


.login-content input[type=text],
.login-content input[type=password] {
   width: 400px;
   font-size: 20px;
   padding: 2px;
   font-family: monospace;
}

.login-input {
   padding-top: 12px;
}

.login-submit {
   margin-top: 40px;
   margin-bottom: 20px;
}


/***********  Post section  ***********/

.post {
   border: 1px solid gray;
   border-radius: 5px;
   padding: 10px;
   background-color: #fafafa;
}


.post-heading {
   position: relative;
   border-bottom: 3px solid #666;
   display: flex;
}

.post-title {
   font-size: 24px;
   font-weight: bold;
}

.post-author {
   padding-top: 10px;
   margin-left: 20px;
   font-size: 15px;
}

.post-date {
   position: absolute;
   right: 0;
   bottom: 0;
   color: #999;
}

.post-footer {
   margin-top: 5px;
   position: relative;
   margin-bottom: -15px;
}

.after-footer {
   margin-top: -5px;
}

.post-edit {
   display: inline;
}

.post-like {
   display: inline;
   position: absolute;
   right: 0;
   bottom: 0;
}

.post-content {
   margin-top: 5px;
}


/*Newpost section editpost section*/

.newpost, .editpost {
   margin-left: 120px;
   margin-top: 30px;
}

.newpost input[type=text],
.editpost input[type=text] {
   width: 500px;
   font-size: 20px;
   padding: 2px;
   font-family: monospace;
}


.other {
   margin-left: 50px;
   margin-top: 100px;
}

.post-comments {
   display: none;
}

.comment p {
   margin: 0;
   padding: 0;
}

.comment + .comment {
   border-top: 1px solid #bbb;
}

.comment-textarea {
   margin-top: 20px;
   width: 760px;
   height: 100px;
}

.link-comment {
   margin-left: 250px;
}


