.main-body {
  max-width: 800px;
  font-family: 'Cormorant Garamond', serif;
}

.logo {
  max-width: 100px;
}

.name-and-role > h1 {
  margin-top: 0px;
}

.name-and-role > h3 {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {

    .top-bar {
      margin-top: 20px;
    }

    .logo {
      max-width: 80px;
    }

    .name-and-role > h1 {
        font-size: 36px;
        line-height: 1.2em;
        font-family: 'Cormorant Garamond', serif;
    }

    .name-and-role > h3 {
        font-size: 22px;
        line-height: 1.2em;
        font-family: 'Cormorant Garamond', serif;
    }
}

@media screen and (min-width: 768px) {
  .top-bar {
    margin-top: 20px;
  }

  .name-and-role > h1 {
        font-size: 46px;
        line-height: 1.2em;
    }

    .name-and-role > h3 {
        font-size: 24px;
        line-height: 1.2em;
    }

}

.fa {
  margin-left: 20px;
}

.bottom {
  margin-bottom: 30px;
}
